<div class="AknVariantNavigation">
    <span class="AknVariantNavigation-item AknVariantNavigation-item--highlight">
            <span class="AknVariantNavigation-axisName AknVariantNavigation-axisValue AknVariantNavigation-itemLabel">Root</span>
    </span>
    <span class="AknVariantNavigation-item">
        <span class="AknVariantNavigation-itemLabel">
            <span class="AknVariantNavigation-axisName">Level 1</span>
        </span>
    </span>
    <span class="AknVariantNavigation-item">
        <span class="AknVariantNavigation-itemLabel">
            <span class="AknVariantNavigation-axisName">Level 2</span>
        </span>
    </span>
</div>
