<div style="font-size:0">
    <button class="AknActionButton AknActionButton--glued">Action Button 1</button>
    <button class="AknActionButton AknActionButton--glued">Action button 2</button>
    <button class="AknActionButton AknActionButton--glued">Action Button 3</button>
</div>
