<div class="AknDropdown">
    <button class="AknActionButton{% if class is defined %} {{ class }}{% endif %}" data-toggle="dropdown">
        Action button text
        <span class="AknActionButton-caret AknCaret"></span>
    </button>
    <ul class="AknDropdown-menu">
        <li><a href="#" class="AknDropdown-menuLink">Menu link 1</a></li>
        <li><a href="#" class="AknDropdown-menuLink">Menu link 2</a></li>
        <li><a href="#" class="AknDropdown-menuLink">Menu link 3</a></li>
    </ul>
</div>
