<div class="AknDropdown">
    <div class="AknActionButton" data-toggle="dropdown">
        Action Button text:
        <button class="AknActionButton-selectButton">
            <span>Sub text</span>
            <span class="AknActionButton-caret AknCaret"></span>
        </button>
    </div>
    <ul class="AknDropdown-menu">
        <li><a href="#" class="AknDropdown-menuLink">Menu link 1</a></li>
        <li><a href="#" class="AknDropdown-menuLink">Menu link 2</a></li>
        <li><a href="#" class="AknDropdown-menuLink">Menu link 3</a></li>
    </ul>
</div>
