<div class="AknLoadingMask" style="height: 100px;">
    <div class="AknLoadingMask-wrapper" style="position: inherit">
    </div>
    <div id="loading-frame" class="AknLoadingMask-frame loading-frame" style="top: -80px; position: relative">
        <div class="AknLoadingMask-box">
            <div class="AknLoadingMask-content"></div>
        </div>
    </div>
</div>
