<ul class="AknVerticalNavtab{% if class is defined %} {{ class }}{% endif %}">
    <li class="AknVerticalNavtab-item AknVerticalNavtab-header"></li>
    <li class="AknVerticalNavtab-item AknVerticalNavtab-item--active">
        <a class="AknVerticalNavtab-link" href="#">Active link</a>
    </li>
    <li class="AknVerticalNavtab-item">
        <a class="AknVerticalNavtab-link" href="#">Link</a>
    </li>
</ul>
