/* Content right */
.wy-nav-content {
    width: 100%;
    max-width: none;
    background: #F1F4F9; /* Akeneo light */
}
@media screen and (min-width: 1400px){
    .wy-nav-content-wrap {
        background: #F1F4F9; /* Akeneo light */
    }
}
a:visited, a:hover {
    color: #723a92; /* Akeneo purple darken */
}
a {
    color: #9452BA; /* Akeneo purple */
}
.btn-neutral {
    background-color: #ffffff !important;
}
.footer {
    font-size: 80%;
}

/* Left column */
.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0 !important;
}
.wy-side-nav-search>div.version {
    display:none;
}
.wy-side-nav-search {
    background-color: #ffffff;
    margin-bottom: 0 !important;
}
.wy-nav-side {
    background: #11324D; /* Akeneo dark blue */
}
.rst-versions.custom-version {
    position: static;
    bottom: initial;
    border-top:solid 0px #0b2132; /* Akeneo dark blue darken */
    border-bottom:solid 1px #edf0f2; /* Grey background */
}
.rst-versions .rst-current-version {
    background-color: #11324D; /* Akeneo dark blue */
    color: #fff;
    padding-top: 13px !important;
}
.wy-menu-vertical ul {
    margin-bottom: 18px;
}
.wy-menu-vertical a:hover {
    background-color: #0b2132; /* Akeneo dark blue darken */;
    color: #ffffff;
}
.wy-menu-vertical a, .wy-menu-vertical a:visited {
    color: #ffffff;
}
.wy-menu-vertical a.current {
    background: #F1F4F9 !important; /* Akeneo light */
}
.wy-menu-vertical li.current a {
    background: #eaeef6; /* Akeneo light darken 2% */
}
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a, .wy-menu-vertical li.toctree-l2.current>a {
    background: #dbe3f0 /* Akeneo light darken 6% */
}

/* Boxes (info, warning, success...) */
.wy-alert.wy-alert-info, .rst-content .note, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .rst-content .seealso, .rst-content .wy-alert-info.admonition-todo {
    background: rgba(89,146,199,0.25); /* Akeneo blue danube 25% */
}
.wy-alert.wy-alert-info .wy-alert-title, .rst-content .note .wy-alert-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .rst-content .note .admonition-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .seealso .admonition-title, .rst-content .wy-alert-info.admonition-todo .admonition-title {
    background: #5992C7; /* Akeneo blue danube */
}
.wy-alert.wy-alert-warning, .rst-content .wy-alert-warning.note, .rst-content .attention, .rst-content .caution, .rst-content .wy-alert-warning.danger, .rst-content .wy-alert-warning.error, .rst-content .wy-alert-warning.hint, .rst-content .wy-alert-warning.important, .rst-content .wy-alert-warning.tip, .rst-content .warning, .rst-content .wy-alert-warning.seealso, .rst-content .admonition-todo {
    background: rgba(248,180,63,0.25); /* Akeneo casablanca yellow 25% */
}
.wy-alert.wy-alert-warning .wy-alert-title, .rst-content .wy-alert-warning.note .wy-alert-title, .rst-content .attention .wy-alert-title, .rst-content .caution .wy-alert-title, .rst-content .wy-alert-warning.danger .wy-alert-title, .rst-content .wy-alert-warning.error .wy-alert-title, .rst-content .wy-alert-warning.hint .wy-alert-title, .rst-content .wy-alert-warning.important .wy-alert-title, .rst-content .wy-alert-warning.tip .wy-alert-title, .rst-content .warning .wy-alert-title, .rst-content .wy-alert-warning.seealso .wy-alert-title, .rst-content .admonition-todo .wy-alert-title, .wy-alert.wy-alert-warning .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-warning .admonition-title, .rst-content .wy-alert-warning.note .admonition-title, .rst-content .attention .admonition-title, .rst-content .caution .admonition-title, .rst-content .wy-alert-warning.danger .admonition-title, .rst-content .wy-alert-warning.error .admonition-title, .rst-content .wy-alert-warning.hint .admonition-title, .rst-content .wy-alert-warning.important .admonition-title, .rst-content .wy-alert-warning.tip .admonition-title, .rst-content .warning .admonition-title, .rst-content .wy-alert-warning.seealso .admonition-title, .rst-content .admonition-todo .admonition-title {
    background: #F8B43F /* Akeneo casablanca yellow */
}
.wy-alert.wy-alert-success, .rst-content .wy-alert-success.note, .rst-content .wy-alert-success.attention, .rst-content .wy-alert-success.caution, .rst-content .wy-alert-success.danger, .rst-content .wy-alert-success.error, .rst-content .hint, .rst-content .important, .rst-content .tip, .rst-content .wy-alert-success.warning, .rst-content .wy-alert-success.seealso, .rst-content .wy-alert-success.admonition-todo {
    background: rgba(103,179,115,0.25); /* Akeneo fern green 25% */
}
.wy-alert.wy-alert-success .wy-alert-title, .rst-content .wy-alert-success.note .wy-alert-title, .rst-content .wy-alert-success.attention .wy-alert-title, .rst-content .wy-alert-success.caution .wy-alert-title, .rst-content .wy-alert-success.danger .wy-alert-title, .rst-content .wy-alert-success.error .wy-alert-title, .rst-content .hint .wy-alert-title, .rst-content .important .wy-alert-title, .rst-content .tip .wy-alert-title, .rst-content .wy-alert-success.warning .wy-alert-title, .rst-content .wy-alert-success.seealso .wy-alert-title, .rst-content .wy-alert-success.admonition-todo .wy-alert-title, .wy-alert.wy-alert-success .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-success .admonition-title, .rst-content .wy-alert-success.note .admonition-title, .rst-content .wy-alert-success.attention .admonition-title, .rst-content .wy-alert-success.caution .admonition-title, .rst-content .wy-alert-success.danger .admonition-title, .rst-content .wy-alert-success.error .admonition-title, .rst-content .hint .admonition-title, .rst-content .important .admonition-title, .rst-content .tip .admonition-title, .rst-content .wy-alert-success.warning .admonition-title, .rst-content .wy-alert-success.seealso .admonition-title, .rst-content .wy-alert-success.admonition-todo .admonition-title {
    background: #67B373; /* Akeneo fern green */
}

/* Responsive */
.wy-nav-top {
    background: #ffffff;
    color: #404040; /* default body font color */
}

/* Search box */
.akeneo-search {
    margin-bottom: 15px;
}
.akeneo-search input[type=text] {
    width: 100%;
    background: url('../../_static/img/ico-search.png') no-repeat scroll 12px 12px;
    padding-left: 40px;
    border-color: #eee;
    background-size:20px;
    background-color: white;
    height: 44px;
    font-size: 100%;
}
::-webkit-input-placeholder {
    color: #9452BA; /* Akeneo purple */
}
:-moz-placeholder {
    color: #9452BA; /* Akeneo purple */
    opacity: 1;
}
::-moz-placeholder {
    color: #9452BA; /* Akeneo purple */
    opacity: 1;
}
:-ms-input-placeholder {
    color: #9452BA; /* Akeneo purple */
}

/* Algolia autocomplete */
.algolia-autocomplete {
    width: 100%;
}
.algolia-docsearch-suggestion {
    border-bottom-color: #723a92; /* Akeneo purple darken */
}
.algolia-docsearch-suggestion--category-header {
    background-color: #11324D; /* Akeneo dark blue */
}
.algolia-docsearch-suggestion--highlight {
    color: #9452BA; /* Akeneo purple */
}
.aa-cursor .algolia-docsearch-suggestion {
    background: rgb(231, 242, 250);
    color: #9452BA; /* Akeneo purple */
}
.aa-cursor .algolia-docsearch-suggestion--content {
    color: #9452BA; /* Akeneo purple */
}
.aa-dropdown-menu {
    border: none;
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    max-width: 800px;
    max-height: 500px;
    overflow-y: auto;
    font-size:90%;
}

.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

table.docutils .line-block {
    margin-left: 0;
}

footer .platformsh-logo {
    height: 25px !important;
    display: inline-block;
    line-height: 25px;
    vertical-align: -5px;
}

/* align elements */
span.fa.fa-book {
    float: none;
    line-height: normal;
}

.akeneo-deprecated .last {
    font-weight: bold;
    font-size: 110%;
}
