.wy-nav-content-wrap {
    background-image: url("../img/logo_bg.png");
    background-position: -20px bottom;
    background-size: 21% auto;
    background-repeat: repeat-x;
}

.wy-menu-vertical li.current a:hover {
    color: #fff;
    background: #222;
}
.wy-menu-vertical li.current a {
    color: #999;
    background-color: #0B2235;
    border-right: 0;
}
.wy-menu-vertical li.current > a {
    color: #fff;
    background-color: #9452BA;
    border-top: 0;
    border-bottom: 0;
}
.wy-menu-vertical li.current > a:hover {
    color: #fff;
    background-color: #9665b1;
    border-top: 0;
    border-bottom: 0;
}
.wy-side-nav-logo {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}
.wy-side-nav-search input[type=text] {
    background: url('../../_static/img/ico-search.png') no-repeat scroll 12px 12px;
    padding-left: 40px;
    border-color: #eee;
    background-size:20px;
    background-color: white;
}
.wy-menu-vertical li.toctree-l2.current > a {
    background-color: #333;
}
.wy-menu-vertical li.toctree-l2.current > a:hover {
    background-color: #333;
}

/* Algolia */
.algolia-autocomplete {
    width: 100%;
}
.algolia-docsearch-suggestion {
    border-bottom-color: #9665b1;
}
/* Main category headers */
.algolia-docsearch-suggestion--category-header {
    background-color: #11324D;
}
/* Highlighted search terms */
.algolia-docsearch-suggestion--highlight {
    color: #9665b1;
}
.aa-cursor .algolia-docsearch-suggestion {
    background: rgb(231, 242, 250);
    color: #9665b1
}
.aa-cursor .algolia-docsearch-suggestion--content {
    color: #9665b1
}
.aa-dropdown-menu {
    border: none;
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    max-width: 600px;
    max-height: 450px;
    overflow-y: auto;
    font-size:80%;
}
.wy-nav-side {
    overflow: visible;
    z-index: 150
}
.aa-dropdown-menu {
    z-index: 201 !important;
}
.aa-suggestions {
    z-index: 201 !important;
}
.rst-versions {
    z-index: 200;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #9665b1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9665b1;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9665b1;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9665b1;
}

.wy-menu.wy-menu-vertical {
    padding-top: 0.809em;
}
