<ul class="AknMainMenu">
    <li class="AknMainMenu-item">
        <a class="AknMainMenu-link" href="#">Main A</a>
        <ul class="AknMainMenu-submenu AknMainMenu-level1">
            <li class="AknMainMenu-item">
                <a class="AknMainMenu-link" href="#">Sub 1</a>
            </li>
            <li class="AknMainMenu-item">
                <a class="AknMainMenu-link" href="#">Sub 2</a>
            </li>
        </ul>
    </li>
    <li class="AknMainMenu-item">
        <a class="AknMainMenu-link" href="#">Main B</a>
        <ul class="AknMainMenu-submenu AknMainMenu-level1">
            <li class="AknMainMenu-item">
                <a class="AknMainMenu-link" href="#">Sub 1</a>
            </li>
            <li class="AknMainMenu-item">
                <a class="AknMainMenu-link" href="#">Sub with content</a>
                <ul class="AknMainMenu-submenu AknMainMenu-level2">
                    <li class="AknMainMenu-item">
                        <a class="AknMainMenu-link" href="#">Item 1</a>
                    </li>
                    <li class="AknMainMenu-item">
                        <a class="AknMainMenu-link" href="#">Item 2</a>
                    </li>
                    <li class="AknMainMenu-item">
                        <a class="AknMainMenu-link" href="#">Item 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
