<ul class="AknVerticalList{% if class is defined %} {{ class }}{% endif %}">
    <li class="AknVerticalList-item{% if itemClass is defined %} {{ itemClass }}{% endif %}">
        <a href="#" class="AknVerticalList-itemLink">Item 1</a>
    </li>
    <li class="AknVerticalList-item{% if itemClass is defined %} {{ itemClass }}{% endif %}">
        <a href="#" class="AknVerticalList-itemLink">Item 2</a>
    </li>
    <li class="AknVerticalList-item{% if itemClass is defined %} {{ itemClass }}{% endif %}">
        <a href="#" class="AknVerticalList-itemLink">Item 3</a>
    </li>
</ul>
