<header class="AknHeader">
    <div class="AknHeader-menus">
        <div class="AknHeader-leftMenus">
            <h1 class="AknHeader-logo">
                <a href="/" title="Akeneo">
                    <img class="AknHeader-logoImage" src="../web/bundles/pimui/images/logo.png" alt="Akeneo">
                </a>
            </h1>
            {% include 'AknMainMenu/base.html.twig' %}
        </div>
        <ul class="AknHeader-userMenu">
            <li class="AknBell AknDropdown">
                <a href="javascript:void(0);" class="AknBell-link" data-toggle="dropdown">
                    <i class="AknBell-icon icon-bell"></i>
                    <span class="AknBell-countContainer"><span class="AknBell-count AknBell-count">5</span></span>
                </a>
                <ul class="AknNotificationList AknDropdown-menu AknDropdown-menu--right">
                    <ol></ol>
                    <p class="AknNotificationList-footer"></p>
                </ul>
            </li>
            <li class="AknDropdown">
                <a href="javascript: void(0);" class="AknHeader-userLink" data-toggle="dropdown">
                    John  Doe
                    <i class="AknCaret AknCaret--inverse"></i>
                </a>
                <ul class="AknDropdown-menu AknDropdown-menu--right">
                    <li><a href="#" class="AknDropdown-menuLink">My Account</a></li>
                    <li><a href="#" class="AknDropdown-menuLink">Logout</a></li>
                </ul>
            </li>
            <li>
                <a class="AknHeader-helpLink" href="#">
                    <i class="icon-question-sign"></i>
                </a>
            </li>
        </ul>
    </div>
</header>
