<header class="AknHeader">
    <div class="AknHeader-menus">
        <div class="AknHeader-leftMenus">
            <h1 class="AknHeader-logo">
                <a href="/" title="Akeneo">
                    <img class="AknHeader-logoImage" src="../web/bundles/pimui/images/logo.png" alt="Akeneo">
                </a>
            </h1>
            Left menus
        </div>
        <div class="AknHeader-rightMenus">Right menus</div>
    </div>
</header>
