<div class="AknCommentPanel">
    <ol class="AknCommentPanel-thread">
        <li class="AknCommentPanel-item">
            <div class="AknCommentPanel-header">
                <img class="AknCommentPanel-avatar" src="../web/bundles/pimui/images/info-user.png" alt="admin">
                <span class="AknCommentPanel-author"><strong>John Doe</strong></span>
                <span class="AknCommentPanel-date">2016-12-20T11:43:44+01:00</span>
                <span class="AknCommentPanel-icon AknIconButton AknIconButton--small AknIconButton--grey">
                    <i class="icon-trash"></i>
                </span>
            </div>
            <span class="AknCommentPanel-message message">Comment</span>
        </li>
        <li class="AknCommentPanel-item">
            <div class="AknCommentPanel-header">
                <img class="AknCommentPanel-avatar" src="../web/bundles/pimui/images/info-user.png" alt="admin">
                <span class="AknCommentPanel-author"><strong>John Doe</strong></span>
                <span class="AknCommentPanel-date">2016-12-20T11:43:54+01:00</span>
                <span class="AknCommentPanel-icon AknIconButton AknIconButton--small AknIconButton--grey">
                    <i class="icon-trash"></i>
                </span>
            </div>
            <span class="AknCommentPanel-message">Comment reply</span>
        </li>
    </ol>
</div>
