version: 2.1
jobs:
    build:
        machine:
            image: ubuntu-2204:2022.07.1
        steps:
            - checkout
            - run: make build

    check-external-link:
        machine:
            image: ubuntu-2204:2022.07.1
        steps:
            - checkout
            - run: make lint

    deploy_staging:
        machine:
            image: ubuntu-2204:2022.07.1
        steps:
            - checkout
            - add_ssh_keys
            - run:
                  name: Deploy on staging server
                  command: DEPLOY_HOSTNAME=$STAGING_HOSTNAME DEPLOY_PORT=$STAGING_PORT VERSION="master" make deploy

    deploy_production:
        machine:
            image: ubuntu-2204:2022.07.1
        steps:
            - checkout
            - add_ssh_keys
            - run:
                  name: Deploy on production server
                  command: DEPLOY_HOSTNAME=$PROD_HOSTNAME DEPLOY_PORT=$PROD_PORT VERSION="master" make deploy

workflows:
    version: 2
    pull_request:
        jobs:
            - build:
                  filters:
                      branches:
                          ignore:
                              - master

    deployment:
        jobs:
            - deploy_staging:
                  filters:
                      branches:
                          only: master
            - approve_to_deploy_in_production:
                  type: approval
                  requires:
                      - deploy_staging
            - deploy_production:
                  requires:
                      - approve_to_deploy_in_production

    nightly:
        triggers:
            - schedule:
                  cron: "0 2 * * *"
                  filters:
                      branches:
                          only:
                              - "master"
        jobs:
            - check-external-link
