version: 2.1

jobs:
    build:
        machine:
            image: ubuntu-1604:202004-01
        steps:
            - checkout
            - run:
                name: Create mandatory Composer cache directory
                command: |
                    mkdir -p ~/.composer/cache && sudo chown -R 1000:1000 ~/.composer
            - run: make build

    check-external-link:
        machine:
            image: ubuntu-1604:202004-01
        steps:
            - checkout
            - run:
                  name: Create mandatory Composer cache directory
                  command: |
                      mkdir -p ~/.composer/cache && sudo chown -R 1000:1000 ~/.composer
            - run: make lint

    deploy_staging:
        machine:
            image: ubuntu-1604:202004-01
        steps:
            - checkout
            - run:
                  name: Create mandatory Composer cache directory
                  command: |
                      mkdir -p ~/.composer/cache && sudo chown -R 1000:1000 ~/.composer
            - add_ssh_keys
            - run:
                  name: Deploy on staging server
                  command: DEPLOY_HOSTNAME=$STAGING_HOSTNAME DEPLOY_PORT=$STAGING_PORT VERSION="4.0" make deploy

    deploy_production:
        machine:
            image: ubuntu-1604:202004-01
        steps:
            - checkout
            - run:
                  name: Create mandatory Composer cache directory
                  command: |
                      mkdir -p ~/.composer/cache && sudo chown -R 1000:1000 ~/.composer
            - add_ssh_keys
            - run:
                  name: Deploy on production server
                  command: DEPLOY_HOSTNAME=$PROD_HOSTNAME DEPLOY_PORT=$PROD_PORT VERSION="4.0" make deploy

orbs:
    pull-up: akeneo-orbs/pull-up@1.0

workflows:
    version: 2
    pull_request:
        jobs:
            - build:
                  filters:
                      branches:
                          ignore:
                              - "4.0"

    deployment:
        jobs:
            - deploy_staging:
                  filters:
                      branches:
                          only: "4.0"
            - approve_to_deploy_in_production:
                  type: approval
                  requires:
                      - deploy_staging
            - deploy_production:
                  requires:
                      - approve_to_deploy_in_production

    pull_up:
        jobs:
            - pull-up/pull-up:
                from: "4.0"
                into: "5.0"
                branch_prefix: "40_to_50"
                github_token: MICHEL_TAG_TOKEN
                github_username: "micheltag"
                slack_webhook: "${SLACK_URL_PULL_UP}"
                filters:
                    branches:
                        only:
                            - "4.0"

    nightly:
        triggers:
            - schedule:
                cron: "0 2 * * *"
                filters:
                    branches:
                        only:
                            - "4.0"
        jobs:
            - check-external-link
