<div class="AknSequentialEdit">
    <span class="AknSequentialEdit-previous">
        <a href="#"><i class="icon-chevron-left"></i> Previous</a>
    </span>
    {% include 'AknProgress/base.html.twig' with { 'class': 'AknSequentialEdit-progress' } only %}
    <span class="AknSequentialEdit-next">
        <a href="#">Next <i class="icon-chevron-right"></i></a>
    </span>
</div>
