<div class="AknSequentialEdit">
    <span class="AknSequentialEdit-previous">
        <a href="#">Previous</a>
    </span>
    {% include 'AknProgress/base.html.twig' with { 'class': 'AknSequentialEdit-progress' } only %}
    <span class="AknSequentialEdit-next">
        <a href="#">Next</a>
    </span>
</div>
