body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    min-width: inherit;
    padding-top: 60px;
    overflow: auto;
    font-weight: normal;
}

ul.nav.nav-stacked li > ul li > a {
    font-weight: normal;
}

p {
    margin: 0 0 13.5px;
}

.reset-bem {
    background: #f2f4f9a6;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #F1F4F9;
}

.reset-bem.dark {
    background: #1b4d76;
    border-color: #1b4d76;
}

.highlight-html {
    margin-top: 20px;
}

.AknStyleGuide-modifierTitle {
    margin: 15px 0 40px 0;
}

.AknStyleGuide-modifier {
    border-top: 1px solid #ccc;
}
