<div class="AknWidget">
    <div class="AknWidget-header">
        Widget header
    </div>
    <div class="AknWidget-subTitle">
        Widget sub title
    </div>
    <div class="AknWidget-content{% if contentClass is defined %} {{ contentClass }}{% endif %}">
        Widget content
    </div>
    <div class="AknWidget-content">
        Widget footer
    </div>
</div>
