<div class="AknFormContainer{% if class is defined %} {{ class }}{% endif %}">
    {% include 'AknFieldContainer/base.html.twig' only %}
    {% include 'AknFieldContainer/base.html.twig' only %}
</div>
