<div class="AknSteps">
    <div class="AknSteps-step AknSteps-step--checked">
        Checked step
    </div>
    <div class="AknSteps-step">
        Normal step
    </div>
    <div class="AknSteps-step">
        Normal step
    </div>
</div>
