<div class="AknDropdownButton{% if class is defined %} {{ class }}{% endif %}">
    <div class="AknDropdownButton-button">
        Dropdown Button text
        <div class="AknDropdownButton-caretContainer">
            <i class="AknCaret AknCaret--big"></i>
        </div>
    </div>
</div>
