<div class="AknSquareList">
    <div class="AknSquareList-item operation">
        <img src="../../web/bundles/pimui/images/bulk/icon-edit.svg" class="AknSquareList-icon">
        <img src="../../web/bundles/pimui/images/bulk/icon-edit_selected.svg" class="AknSquareList-icon AknSquareList-icon--selected">
        <div>Edit common attributes</div>
    </div>

    <div class="AknSquareList-item operation">
        <img src="../../web/bundles/pimui/images/bulk/icon-template.svg" class="AknSquareList-icon">
        <img src="../../web/bundles/pimui/images/bulk/icon-template_selected.svg" class="AknSquareList-icon AknSquareList-icon--selected">
        <div>Change family</div>
    </div>

    <div class="AknSquareList-item operation">
        <img src="../../web/bundles/pimui/images/bulk/icon-enable.svg" class="AknSquareList-icon">
        <img src="../../web/bundles/pimui/images/bulk/icon-enable_selected.svg" class="AknSquareList-icon AknSquareList-icon--selected">
        <div>Change status</div>
    </div>

    <div class="AknSquareList-item operation">
        <img src="../../web/bundles/pimui/images/bulk/icon-groups.svg" class="AknSquareList-icon">
        <img src="../../web/bundles/pimui/images/bulk/icon-groups_selected.svg" class="AknSquareList-icon AknSquareList-icon--selected">
        <div>Add to groups</div>
    </div>

    <div class="AknSquareList-item operation">
        <img src="../../web/bundles/pimui/images/bulk/icon-folder_in.svg" class="AknSquareList-icon">
        <img src="../../web/bundles/pimui/images/bulk/icon-folder_in_selected.svg" class="AknSquareList-icon AknSquareList-icon--selected">
        <div>Add to categories</div>
    </div>

    <div class="AknSquareList-item operation">
        <img src="../../web/bundles/pimui/images/bulk/icon-folder_move.svg" class="AknSquareList-icon">
        <img src="../../web/bundles/pimui/images/bulk/icon-folder_move_selected.svg" class="AknSquareList-icon AknSquareList-icon--selected">
        <div>Move between categories</div>
    </div>

    <div class="AknSquareList-item operation">
        <img src="../../web/bundles/pimui/images/bulk/icon-folder_out.svg" class="AknSquareList-icon">
        <img src="../../web/bundles/pimui/images/bulk/icon-folder_out_selected.svg" class="AknSquareList-icon AknSquareList-icon--selected">
        <div>Remove from categories</div>
    </div>

</div>
