<div class="AknGridsLine channels" style="">
    <div class="AknGridsLine-item">
        {% include 'AknGrid/base.html.twig' only %}
    </div>
    <div class="AknGridsLine-item">
        {% include 'AknGrid/base.html.twig' only %}
    </div>
    <div class="AknGridsLine-item">
        {% include 'AknGrid/base.html.twig' only %}
    </div>
</div>
