<ul class="AknNotificationList">
    <ol>
        {% include 'AknNotification/base.html.twig' only %}
        {% include 'AknNotification/base.html.twig' only %}
    </ol>
    <li class="AknNotificationList-footer">
        {% include 'AknButton/base.html.twig' with { 'class': 'AknButton--grey' } only %}
    </li>
</ul>
