<header class="AknTitleContainer">
    <div class="AknTitleContainer-line">
        <div class="AknTitleContainer-imageContainer"></div>
        <div class="AknTitleContainer-mainContainer">
            <div>
                <div class="AknTitleContainer-line">
                    <div class="AknTitleContainer-breadcrumbs">
                        <div class="AknBreadcrumb">
                            <span class="AknBreadcrumb-item AknBreadcrumb-item--routable">Products</span>
                        </div>
                    </div>
                    <div class="AknTitleContainer-buttonsContainer">
                        <div class="user-menu" data-drop-zone="user-menu">
                            <div class="AknTitleContainer-userMenu">
                                <div class="AknDropdown">
                                    <div class="AknTitleContainer-userIcon" style="background-image:url('../../web/bundles/pimui/images/info-user.png')"></div>
                                    <div class="AknDropdown-menu AknDropdown-menu--right">
                                        <div class="AknDropdown-menuTitle">John Doe</div>
                                        <div class="AknDropdown-menuLink user-account">My Account</div>
                                        <div class="AknDropdown-menuLink logout">Logout</div>
                                    </div>
                                </div>
                                <div class="AknNotificationMenu AknDropdown">
                                    <div class="AknNotificationMenu-link">
                                        <span class="AknNotificationMenu-countContainer">
                                            <span class="AknNotificationMenu-count ">1</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="AknButtonList">
                            <div>
                                <a class="AknButton AknButton--apply AknButtonList-item">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="AknTitleContainer-line">
                    <div class="AknTitleContainer-title"><div>Title</div></div>
                    <div class="AknTitleContainer-state"></div>
                </div>
            </div>
            <div>
                <div class="AknTitleContainer-line">
                    <div class="AknTitleContainer-context AknButtonList"></div>
                </div>
                <div class="AknTitleContainer-line">
                    <div class="AknTitleContainer-meta"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="AknTitleContainer-line">
        <div data-drop-zone="navigation" class="AknTitleContainer-navigation"></div>
    </div>
</header>
