<div class="AknSubsection">
    <header class="AknSubsection-title">
        Title
        <span class="AknSubsection-comment AknSubsection-comment--clickable">
            Comment
        </span>
    </header>
</div>
