<div class="AknBell">
    <a class="AknBell-link" href="#">
        <i class="AknBell-icon icon-bell"></i>
        <span class="AknBell-countContainer">
            <span class="AknBell-count">7</span>
        </span>
    </a>
</div>
