<div class="AknMetricField">
    {% include 'AknTextField/base.html.twig' with { 'class': 'AknTextField--noRightRadius' } only %}
    <div class="AknMetricField-unit select2-container">
        <a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">
            <span class="select2-chosen">Inch</span>
            <span class="select2-arrow"><b></b></span>
        </a>
    </div>
</div>
