<div class="AknProjectWidget">
    <div class="AknProjectWidget-topBar">
        <div class="AknButtonList">
            <div class="AknButtonList-item">
                <div class="select2-container project-selector-select2">
                    <a href="javascript:void(0)" class="select2-choice">
                        <span class="select2-chosen">
                            <div class="AknProjectWidget-mainSelectorCurrent">
                                <span class="AknProjectWidget-mainSelectorCurrentTitle">
                                    ProjectWidget main selector
                                </span>
                                additional information
                            </div>
                        </span>
                        <abbr class="select2-search-choice-close"></abbr>
                        <span class="select2-arrow"><b></b></span>
                    </a>
                </div>
            </div>
            <div>
                <div class="select2-container contributor-selector-select2">
                    <a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">
                        <span class="select2-chosen">
                            <div class="AknProjectWidget-secondarySelectorCurrent">
                                <span class="AknProjectWidget-secondarySelectorCurrentTitle">
                                    ProjectWidget secondary selector
                                </span>
                            </div>
                        </span>
                        <abbr class="select2-search-choice-close"></abbr>
                        <span class="select2-arrow"><b></b></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="AknProjectWidget-info">
            ProjectWidget info
        </div>
    </div>


    <div class="AknProjectWidget-boxes">
         <div class="AknProjectWidget-boxContainer">
            <span class="AknProjectWidget-boxLabel">ProjectWidget box label</span>
            <div class="AknProjectWidget-box AknProjectWidget-box--important">
                <div class="AknProjectWidget-boxData">10</div>
                ProjectWidget Important box
            </div>
        </div>
        <div class="AknProjectWidget-boxContainer">
            <span class="AknProjectWidget-boxLabel">ProjectWidget box label</span>
            <div class="AknProjectWidget-box AknProjectWidget-box--warning">
                <div class="AknProjectWidget-boxData">20</div>
                ProjectWidget Warning box
            </div>
        </div>
        <div class="AknProjectWidget-boxContainer">
            <span class="AknProjectWidget-boxLabel">ProjectWidget box label</span>
            <div class="AknProjectWidget-box AknProjectWidget-box--success">
                <div class="AknProjectWidget-boxData">30</div>
                ProjectWidget Success box
            </div>
        </div>
    </div>
    <div class="AknProjectWidget-resume">
        <div class="AknProjectWidget-resumeTitle">ProjectWidget resume title</div>
        <div class="AknProjectWidget-resumeContent">ProjectWidget resume content</div>
    </div>
</div>
