<div class="AknMediaField has-file">
    <div class="AknMediaField-preview">
        <div class="AknMediaField-thumb">
            <img src="/web/bundles/pimdashboard/images/widget_links_products.png" class="AknMediaField-image">
        </div>
        <div class="AknMediaField-info">
            <div class="filename" title="IMG_20170102_201321.jpg">IMG_20170102_201321.jpg</div>
            <div class="AknButtonList AknButtonList--centered">
                <span class="AknButtonList-item AknIconButton AknIconButton--grey"><i class="icon-eye-open"></i></span>
                <span class="AknButtonList-item AknIconButton AknIconButton--grey"><i class="icon-cloud-download"></i></span>
                <span class="AknButtonList-item AknIconButton AknIconButton--grey"><i class="icon-trash"></i></span>
            </div>
        </div>
    </div>
</div>
