<div class="AknGridContainer">
    <div class="AknGridContainer-noData">
        <div class="AknGridContainer-noDataImage"></div>
        <div class="AknGridContainer-noDataTitle">Hint</div>
        <div class="AknGridContainer-noDataSubtitle">Subhint</div>
    </div>
</div>
