<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label class="AknFieldContainer-label">Label</label>
        <span class="AknFieldContainer-fieldInfo">Field info</span>
    </div>
    <div class="AknFieldContainer-inputContainer">
        {% include 'AknTextField/base.html.twig' only %}
        <div class="AknFieldContainer-iconsContainer">Icons</div>
    </div>
    <div class="AknFieldContainer-footer">
        Footer
        <div class="AknFieldContainer-validationErrors">
            <div class="AknFieldContainer-validationError">
                Validation error
            </div>
        </div>
    </div>
</div>
