<table class="AknGrid{% if class is defined %} {{ class }}{% endif %}">
    <tr>
        <th class="AknGrid-headerCell">Header 1</th>
        <th class="AknGrid-headerCell">Header 2</th>
        <th class="AknGrid-headerCell">Header 3</th>
    </tr>
    <tr class="AknGrid-bodyRow">
        <td class="AknGrid-bodyCell">Content 1</td>
        <td class="AknGrid-bodyCell">Content 2</td>
        <td class="AknGrid-bodyCell">Content 3</td>
    </tr>
    <tr class="AknGrid-bodyRow">
        <td class="AknGrid-bodyCell">Content 4</td>
        <td class="AknGrid-bodyCell">Content 5</td>
        <td class="AknGrid-bodyCell">Content 6</td>
    </tr>
</table>
