<table class="AknGrid">
    <tr>
        <th class="AknGrid-headerCell">Header 1</th>
        <th class="AknGrid-headerCell AknGrid-headerCell--center">Header 2</th>
        <th class="AknGrid-headerCell AknGrid-headerCell--right">Header 3</th>
    </tr>
    <tr class="AknGrid-bodyRow">
        <td class="AknGrid-bodyCell">Content left</td>
        <td class="AknGrid-bodyCell AknGrid-bodyCell--center">Content centered</td>
        <td class="AknGrid-bodyCell AknGrid-bodyCell--right">Content right</td>
    </tr>
</table>
