<div class="AknPriceList">
    <div class="AknPriceList-item">
        {% include "AknTextField/base.html.twig" with { 'class': 'AknTextField--noRightRadius' } only %}
        <span class="AknPriceList-currency">ADP</span>
    </div>
    <div class="AknPriceList-item">
        {% include "AknTextField/base.html.twig" with { 'class': 'AknTextField--noRightRadius' } only %}
        <span class="AknPriceList-currency">AED</span>
    </div>
</div>
