{% if page_source_suffix %}
{% set suffix = page_source_suffix %}
{% else %}
{% set suffix = source_suffix %}
{% endif %}

{% if meta is defined and meta is not none %}
{% set check_meta = True %}
{% else %}
{% set check_meta = False %}
{% endif %}

{% if check_meta and 'github_url' in meta %}
{% set display_github = True %}
{% endif %}

{% if check_meta and 'bitbucket_url' in meta %}
{% set display_bitbucket = True %}
{% endif %}

{% if display_github %}
  {% if check_meta and 'github_url' in meta %}
    <a href="{{ meta['github_url'] }}"><i class="fa fa-github"></i> Join us on Github!</a>
  {% else %}
    <a href="https://{{ github_host|default("github.com") }}/{{ github_user }}/{{ github_repo }}/blob/{{ github_version }}{{ conf_py_path }}{{ pagename }}{{ suffix }}"><i class="fa fa-github"></i> Join us on Github!</a>
  {% endif %}
{% endif %}
