{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
{%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
{%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST API documentation</title>
    <meta name="description" content="Description">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="http://localhost:8000/js/jquery.min.js"></script>
    <script src="http://localhost:8000/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="http://localhost:8000/img/akene36.png">
    <link rel="stylesheet" href="http://localhost:8000/css/variables-43bf553955.css">
    <link rel="stylesheet" href="http://localhost:8000/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
        /* TODO Add this into the api-docs CSS */
        .highlighttable {width: 100%}
        .hljs { font-size: 12.5px; }
        .hljs-comment, .hljs-quote { color: #a1a9b7; }
        .hljs-string, .hljs-title, .hljs-name, .hljs-type, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable, .hljs-regexp { font-weight: bold; }
        img { max-width: 100%; }
    </style>
</head>
<body data-spy="scroll" data-target="#navbar">
<nav class="navbar navbar-default navbar-fixed-top scroll">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img height="18" src="http://localhost:8000/img/akeneo.svg">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group form-search">
                    <span class="algolia-autocomplete"
                          style="position: relative; display: inline-block; direction: ltr;"><input id="algolia-search"
                                                                                                    class="form-control ds-input"
                                                                                                    placeholder="Search whole doc"
                                                                                                    autocomplete="off"
                                                                                                    spellcheck="false"
                                                                                                    role="combobox"
                                                                                                    aria-autocomplete="list"
                                                                                                    aria-expanded="false"
                                                                                                    aria-labelledby="algolia-search"
                                                                                                    aria-owns="algolia-autocomplete-listbox-0"
                                                                                                    dir="auto"
                                                                                                    style="position: relative; vertical-align: top;"><pre
                            aria-hidden="true"
                            style="position: absolute; visibility: hidden; white-space: pre; font-family: Lato, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                            class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0"
                            style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div
                            class="ds-dataset-1"></div></span></span>
                </div>
            </form>
        </div>
    </div>
</nav>

<div id="mainContent">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>&nbsp;</h1>
            </div>
        </div>
        <div class="row">
            <div id="navbar" class="col-sm-3 hidden-xs">
                <nav role="tablist" id="navbar-nav" data-spy="affix" data-offset-top="80" class="affix" style="display:none">
                    {% block menu %}
                    {% set toctree = toctree(maxdepth=4, collapse=theme_collapse_navigation, includehidden=True) %}
                    {% if toctree %}
                    {{ toctree }}
                    {% endif %}
                    {% endblock %}
                </nav>
            </div>
            <div class="col-xs-12 col-sm-9">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-muted text-right">
                    <i class="fa fa-pencil"></i> Found a typo or a hole in the documentation and feel like contributing?<br>
                    <a href="https://github.com/akeneo/pim-api-docs">Join us on Github!</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
    docsearch({
        apiKey: '2d54ec0583367835496f9b24eb99de62',
        indexName: 'akeneo-api',
        inputSelector: '#algolia-search',
        debug: false // Set debug to true if you want to inspect the dropdown
    });
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35417741-5', 'auto');
    ga('send', 'pageview');
</script>
<script>
    $(function(){
        var navbar = $('.navbar');
        $(window).scroll(function(){
            if($(window).scrollTop() <= 40){
                navbar.removeClass('scroll');
            } else {
                navbar.addClass('scroll');
            }
        });
    });
</script>

<script>
    var menus = [
        'Documentation',
        'Technical'
    ];

    // Updates main menu elements
    $('#navbar-nav > ul').each(function (i, mainMenu) {
        mainMenu = $(mainMenu);
        var result = $('<li class="dropdown">');
        var resultItems = $('<ul class="dropdown-menu"><li class="dropdown-title">' + menus[i] + '</li></ul>');
        if (mainMenu.hasClass('current')) {
            result.addClass('active');
        }
        result.append('<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">' + menus[i] + '<span class="caret"></span></a>');
        mainMenu.find('> li > a').each(function (j, subElement) {
            resultItems.append('<li><a href="' + $(subElement).attr('href') + '">' + $(subElement).text() + '</a></li>');
        });
        result.append(resultItems);

        $('.nav.navbar-nav.navbar-right').append(result);
    });

    // Updates title
    $('h1:first').html($('#navbar-nav > ul.current > li.current > a').text());

    // Drops menu elements
    $('#navbar-nav > ul:not(.current)').remove();
    $('#navbar-nav > ul > li:not(.current)').remove();
    $('#navbar-nav > ul > li > ul').appendTo($('#navbar-nav'));
    $('#navbar-nav > ul:first-child').remove();

    // Updates style
    $('#navbar-nav ul').addClass('nav');
    $('#navbar-nav > ul').addClass('nav-stacked');
    $('#navbar-nav li.current').addClass('active');

    // Show the result
    $('#navbar-nav').show();

    // Updates anchors
    $('h1, h2, h3, h4, h5, h6').each(function (i, title) {
        var anchorLink = $(title).find('.headerlink');
        if (anchorLink) {
            anchorLink.prependTo($(title)).addClass('markdownIt-Anchor').html('#');
            var href = anchorLink.attr('href');
            var section = $(href);
            var id = section.attr('id');
            section.removeAttr('id');
            $('<a class="anchor" id="' + id + '"></a>').insertBefore(section);
        }
    })

    // Update notes
    $('.admonition .admonition-title').remove();
    $('.admonition.note').addClass('alert alert-info');
    $('.admonition.warning').addClass('alert alert-warning');

    // Update tables
    $('.docutils').addClass('table');
    $('.docutils').removeAttr('border');

    // Update code
    $('.linenos').remove();
    $('.highlight pre').addClass('hljs');
    $('.s, .s1').addClass('hljs-string');
    $('.cm, .c1, .sd').addClass('hljs-comment');
    $('.k, .kd, .nt').addClass('hljs-keyword');
    $('.l').addClass('hljs-literal');
    $('.p, .o').addClass(''); // Punctuation
    $('.nx, .nc').addClass('hljs-variable');
</script>

<script>//<![CDATA[
document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
//]]></script><script src="//localhost:35729/livereload.js?snipver=1"></script>


</body>
</html>
