<ul class="AknVerticalList{% if class is defined %} {{ class }}{% endif %}">
    <li class="AknVerticalList-item AknVerticalList-item--movable">
        <div><i class="icon-th"></i>Item 1</div>
    </li>
    <li class="AknVerticalList-item AknVerticalList-item--movable">
        <div><i class="icon-th"></i>Item 2</div>
    </li>
    <li class="AknVerticalList-item AknVerticalList-item--movable">
        <div><i class="icon-th"></i>Item 3</div>
    </li>
</ul>
