<ul class="AknVerticalList{% if class is defined %} {{ class }}{% endif %}">
    <li class="AknVerticalList-item AknVerticalList-item--movable">
        Item 1
    </li>
    <li class="AknVerticalList-item AknVerticalList-item--movable">
        Item 2
    </li>
    <li class="AknVerticalList-item AknVerticalList-item--movable">
        Item 3
    </li>
</ul>
