<div class="AknDashboardButtons">
    <a href="#" class="AknDashboardButtons-item">
        <img class="AknDashboardButtons-image" src="/web/bundles/pimdashboard/images/widget_links_products.png">
        Manage Products
    </a>
    <a href="#" class="AknDashboardButtons-item" title="Manage Families">
        <img class="AknDashboardButtons-image" src="/web/bundles/pimdashboard/images/widget_links_families.png">
        Manage Families
    </a>
    <a href="#" class="AknDashboardButtons-item" title="Manage Attributes">
        <img class="AknDashboardButtons-image" src="/web/bundles/pimdashboard/images/widget_links_attributes.png">
        Manage Attributes
    </a>
    <a href="#" class="AknDashboardButtons-item" title="Manage Categories">
        <img class="AknDashboardButtons-image" src="/web/bundles/pimdashboard/images/widget_links_categories.png">
        Manage Categories
    </a>
</div>
