<div class="AknBreadcrumbContainer">
    {% include 'AknBreadcrumb/base.html.twig' only %}
    <div class="AknBreadcrumbContainer-flashContainer">
        <div class="flash-messages-holder AknBreadcrumbContainer-flashList">
            Flash list
        </div>
    </div>
    {% include 'AknButtonList/iconList.html.twig' only %}
</div>
