<li class="AknNotification">
    <a href="#" class="AknNotification-link{% if linkClass is defined %} {{ linkClass }}{% endif %}">
        <div class="AknNotification-header">
            <div class="AknNotification-icon AknNotification-icon--massEdit">
                <i class="AknNotification-status AknNotification-status--success icon-ok"></i>
            </div>
            <div class="AknNotification-metas">
                <time class="AknNotification-time">2016-12-14 14:36:02</time>
                <span class="AknNotification-title">Mass Edit</span>
            </div>
            <i class="AknIconButton AknIconButton--light icon-trash action"></i>
        </div>
        <div class="AknNotification-message">Mass edit <strong>Set family attribute requirements</strong> finished</div>
        <button class="AknNotification-button AknButton AknButton--micro AknButton--grey AknButton--withIcon">
            <i class="AknButton-icon icon-file-text-alt"></i>
            Report
        </button>
    </a>
</li>
