<div class="AknHeader">
    <div class="AknHeader-menu">
        <div class="AknHeader-menuBlock">
            <div class="AknHeader-menuItemContainer">
                <div class="AknHeader-menuItem">
                    <img class="AknHeader-logoImage" src="../../web/bundles/pimui/images/logo.svg" alt="Akeneo">
                </div>
            </div>
            <div class="AknHeader-menuItemContainer">
                <a class="AknHeader-menuItem">
                    <div>
                        <span class="AknHeader-menuItemImage AknHeader-menuItemImage--iconCard"></span>
                        <span class="AknHeader-menuItemImage AknHeader-menuItemImage--iconCard"></span>
                    </div>
                    Activity
                </a>
            </div>
            <div class="AknHeader-menuItemContainer"><a class="AknHeader-menuItem AknHeader-menuItem--active " href="#/enrich/product/">
                    <div>
                        <span class="AknHeader-menuItemImage AknHeader-menuItemImage--iconProduct"></span>
                        <span class="AknHeader-menuItemImage AknHeader-menuItemImage--iconProduct"></span>
                    </div>
                    Products
                </a>
            </div>
        </div>
        <div class="AknHeader-menuBlock AknHeader-menuBlock--space"></div>
        <div class="AknHeader-menuBlock"></div>
    </div>
</div>
