<div style="height: 115px;">
    <div class="AknPanelContainer">
        <header class="AknPanelContainer-header">
            {% include "AknIconButton/base.html.twig" with { 'class': 'AknIconButton--grey', 'icon': 'icon-remove' } only %}
            <h1 class="AknPanelContainer-title">Panel title</h1>
        </header>
        Content
        <div class="AknPanelContainer-footer">
            Footer
        </div>
    </div>
</div>
