<div class="AknNotification-icon AknNotification-icon--import"></div>
<div class="AknNotification-icon AknNotification-icon--export"></div>
<div class="AknNotification-icon AknNotification-icon--massEdit"></div>
<div class="AknNotification-icon AknNotification-icon--pimeeWorkflowProductDraftNotificationNewProposal"></div>
<div class="AknNotification-icon AknNotification-icon--pimeeWorkflowImportNotificationNewProposals"></div>
<div class="AknNotification-icon AknNotification-icon--rule"></div>
<div class="AknNotification-icon AknNotification-icon--projectCalculation"></div>
