<div class="AknGridToolbar">
    <div class="AknGridToolbar-center">
        <a class="AknActionButton AknGridToolbar-actionButton AknActionButton--highlight" href="#"><span>1</span></a>
        <a class="AknActionButton AknGridToolbar-actionButton" href="#"><span>2</span></a>
        <a class="AknActionButton AknGridToolbar-actionButton AknActionButton--unclickable " href="#" title="...">
            <span>...</span>
        </a>
        <a class="AknActionButton AknGridToolbar-actionButton" href="#"><span>42</span></a>
    </div>
    <div class="AknGridToolbar-right">
        <div class="AknGridToolbar-actionButton">
            <a class="AknActionButton configure-columns">
                Action button
            </a>
        </div>
    </div>
</div>
