<div class="AknFilterBox">
    <div class="AknFilterBox-addFilterButton">Add filter</div>
    <div class="AknFilterBox-filter">
        {% include 'AknActionButton/base.html.twig' only %}
        <a href="#" class="AknFilterBox-disableFilter"><i class="icon-remove hide-text"></i></a>
    </div>
    <div class="AknFilterBox-filter">
        {% include 'AknActionButton/base.html.twig' only %}
        <a href="#" class="AknFilterBox-disableFilter"><i class="icon-remove hide-text"></i></a>
    </div>
</div>
