<div class="AknCompletenessBlock">
    <header class="AknCompletenessBlock-header">
        <span class="AknCompletenessBlock-headerLocale">
            Locale
        </span>
        <span class="AknCompletenessBlock-headerStats">
            <div class="AknProgress AknProgress--warning">
                <div class="AknProgress-bar" style="width: 50%;"></div>
            </div>
            <span class="AknCompletenessBlock-progressRatio">10/20</span>
        </span>
        <span class="AknCompletenessBlock-headerButton">
            <i class="AknCompletenessBlock-arrow icon-angle-down"></i>
        </span>
    </header>
    <div class="AknCompletenessBlock-content content">
        <div class="AknCompletenessBlock-channel">
            <span class="AknCompletenessBlock-channelTitle">Channel Title 1</span>
            <div class="AknCompletenessBlock-progressContainer">
                <div class="AknCompletenessBlock-progress AknProgress AknProgress--small AknProgress--warning">
                    <div class="AknProgress-bar" style="width: 60%;"></div>
                </div>
                <span class="AknCompletenessBlock-progressRatio">60%</span>
            </div>
            <div class="AknCompletenessBlock-missing">
                Missing values
            </div>
        </div>
        <div class="AknCompletenessBlock-channel">
            <span class="AknCompletenessBlock-channelTitle">Channel Title 2</span>
            <div class="AknCompletenessBlock-progressContainer">
                <div class="AknCompletenessBlock-progress AknProgress AknProgress--small AknProgress--warning">
                    <div class="AknProgress-bar" style="width: 80%;"></div>
                </div>
                <span class="AknCompletenessBlock-progressRatio">80%</span>
            </div>
            <div class="AknCompletenessBlock-missing">
                Missing values
            </div>
        </div>
    </div>
</div>
