<div class="AknMessageBox{% if class is defined %} {{ class }}{% endif %}">
    <div class="AknMessageBox-title">Title</div>
    <ul class="AknMessageBox-list">
        <li>List item 1</li>
        <li>List item 2</li>
    </ul>
</div>
