<div class="AknButtonList{% if class is defined %} {{ class }}{% endif %}">
    {% include 'AknIconButton/base.html.twig' with { 'class': 'AknButtonList-item' } only %}
    {% include 'AknIconButton/base.html.twig' with { 'class': 'AknButtonList-item' } only %}
</div>
