<div class="AknMediaField ">
    <input class="AknMediaField-fileUploaderInput" type="file">
    <div class="AknMediaField-emptyContainer">
        <span class="AknMediaField-uploadIcon"></span>
        <span>Drag and drop to upload or click here</span>
    </div>
    <div class="AknMediaField-progress AknProgress AknProgress--micro">
        <div class="AknProgress-bar bar"></div>
    </div>
</div>
