<table class="AknGrid">
    <tr>
        <th class="AknGrid-headerCell">Header 1</th>
        <th class="AknGrid-headerCell">Header 2</th>
        <th class="AknGrid-headerCell">Header 3</th>
    </tr>
    <tr class="AknGrid-bodyRow">
        <td colspan="3" class="AknGrid-bodyCell AknGrid-bodyCell--full">Full line</td>
    </tr>
</table>
