<table class="AknGrid">
    <tr>
        <th class="AknGrid-headerCell AknGrid-bodyCell--tight">Header 1</th>
        <th class="AknGrid-headerCell">Header 2</th>
        <th class="AknGrid-headerCell">Header 3</th>
    </tr>
    <tr class="AknGrid-bodyRow">
        <td class="AknGrid-bodyCell AknGrid-bodyCell--tight"><input type="checkbox"></td>
        <td class="AknGrid-bodyCell">Content</td>
        <td class="AknGrid-bodyCell AknGrid-bodyCell--actions">Actions</td>
    </tr>
</table>
