<table class="AknGrid">
    <tr>
        <th class="AknGrid-headerCell">Default <span class="AknGrid-caret AknCaret"></span></th>
        <th class="AknGrid-headerCell AknGrid-headerCell--ascending">Ascending <span class="AknGrid-caret AknCaret"></span></th>
        <th class="AknGrid-headerCell AknGrid-headerCell--descending">Descending <span class="AknGrid-caret AknCaret"></span></th>
    </tr>
</table>
