<div class="AknSeveralActionsButton{% if class is defined %} {{ class }}{% endif %} AknDropdown">
    <button type="button" class="AknSeveralActionsButton-mainAction">All</button>
    <button type="button" class="AknSeveralActionsButton-caretContainer" data-toggle="dropdown">
        <i class="AknCaret AknCaret--inverse"></i>
    </button>
    <ul class="AknSeveralActionsButton-menu AknDropdown-menu">
        <li><a class="AknDropdown-menuLink" href="#">Menu link 1</a></li>
        <li><a class="AknDropdown-menuLink" href="#">Menu link 2</a></li>
        <li><a class="AknDropdown-menuLink" href="#">Menu link 3</a></li>
    </ul>
</div>
