<div class="AknHorizontalNavtab">
    <ul class="AknHorizontalNavtab-list">
        <li class="AknHorizontalNavtab-item">
            <a class="AknHorizontalNavtab-link" href="#">General properties</a>
        </li>
        <li class="AknHorizontalNavtab-item AknHorizontalNavtab-item--active">
            <a class="AknHorizontalNavtab-link" href="#">Content</a>
        </li>
        <li class="AknHorizontalNavtab-item">
            <a class="AknHorizontalNavtab-link" href="#">History</a>
        </li>
    </ul>
</div>
