<ul class="AknUserMenu">
    {% include 'AknBell/base.html.twig' only %}
    <li class="AknDropdown">
        <a href="#" class="AknUserMenu-userLink">
             John Doe
             <i class="AknCaret AknCaret--inverse"></i>
        </a>
    </li>
    <li>
        <a class="AknUserMenu-helpLink" href="#"><i class="icon-question-sign"></i></a>
    </li>
</ul>
